<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="renderer" content="webkit" />
  <title>Feedback</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/code-fx/Pure-CSS3-Animated-Border@V1.0/css/animated-border/animated-border.min.css" />
  <link rel="stylesheet" href="../css//bundle.min.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1943168_j5v89h6pcoa.css" />
</head>

<body>
  <!--[if lte IE 9]>
      <div class="alert alert-danger disable-del text-center" role="alert">
        <h4>
          系统检测到您使用的浏览器版本过低，为达到更好的体验效果请升级您的浏览器，我们为您推荐：
        </h4>
        <p>
          <a
            href="https://www.google.com.hk/chrome/"
            target="_blank"
            class="alert-link mx-3"
            >Chrome浏览器</a
          >
          <a
            href="http://www.firefox.com.cn/download/"
            target="_blank"
            class="alert-link mx-3"
            >Firefox浏览器</a
          >
          <a href="http://se.360.cn/" target="_blank" class="alert-link mx-3"
            >360浏览器</a
          >
        </p>
      </div>
    <![endif]-->
  <header class="header">
    <div class="container position-relative">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../images/logo.png" class="img-fluid d-block logo" alt="" srcset="" />
        </a>
        <button class="navbar-toggler border-0" style="margin-right:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse p-3 p-md-0" id="navbarSupportedContent">
          <button class="navbar-toggler border-0" style="margin-left:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="iconfont icon-close icon-3x"></i>
          </button>
          <ul class="navbar-nav ml-auto mr-md-4">
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread " href="#">HOME</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ui-box bottom-inOutSpread " href="/about.html">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">PRODUCTS</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ui-box bottom-inOutSpread " href="#" tabindex="-1">NEWS</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link ui-box bottom-inOutSpread bottom-stay" href="#" tabindex="-1">FEEDBACK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">CONTACT US</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 border rounded-pill">
            <div class="input-group">
              <input class="form-control border-0 rounded-pill" type="search" placeholder="Keywords" aria-label="Search" />
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="iconfont icon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>
  <div class="content">
    <div class="banner-container mb-5 small d-md-none" style="background-image: url('../images/img-banner-inner.jpg');"></div>
    <div class="banner-container mb-5 small d-none d-md-block" style="background-image: url('../images/img-banner-inner.jpg');"></div>
    <div class="container">
      <div class="align-items-center mb-3 pb-4">
        <h4 class="text-primary text-uppercase font-weight-bold line-bottom">
          Feedback
        </h4>
      </div>
      <div class="mb-5">
        <p>If you have any suggestions or question for us.Please contact us.</p>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group star-after">
                <input type="text" class="form-control rounded-0" id="company" placeholder="Company" required>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control rounded-0" id="phone" placeholder="Phone">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group star-after">
                <input type="email" class="form-control rounded-0" id="email" placeholder="Email" required>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group star-after">
                <input type="text" class="form-control rounded-0" id="subject" placeholder="Subject" required>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="form-group star-after">
                <textarea class="form-control" id="subject" rows="10" placeholder="Message content" required></textarea>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
              <div class="row align-items-center ">
                <div class="col-6">
                  <div class="form-group mb-0 star-after">
                    <input type="text" class="form-control rounded-0" id="code" placeholder="Verification Code" required>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../images/img-code.jpg" alt="" srcset="">
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <button class="btn btn-primary rounded-pill text-uppercase px-4 btn-lg">
              <h6 class="mb-0 p-1">submit</h6>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- end content -->
    <footer class="bg-light py-4">
      <div class="container py-3">
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="../images/logo.png" class="mb-4 logo" />
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">PRODUCTS</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Dining & Kitchen</a></li>
              <li><a href="#">Living Room</a></li>
              <li><a href="#">Outdoor</a></li>
              <li><a href="#">Bedroom</a></li>
              <li><a href="#">Crafts</a></li>
            </ul>
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">About Us</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Company profile</a></li>
              <li><a href="#">Corporate Style</a></li>
              <li><a href="#">Enterprise honor</a></li>
              <li><a href="#">Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 flex-shrink-1">
            <h6 class="text-uppercase text-dark mb-3 d-none d-md-block">
              CONTACT US
            </h6>
            <ul class="list-unstyled mb-0">
              <li>Tel:0579-85871717</li>
              <li>E-mail:hahavipfish@hotmail.com</li>
              <li>Add:E-commerce service area, 5 / F, zone 5,</li>
              <li>Yiwu International Trade City, Zhejiang Province 71029</li>
            </ul>
          </div>
          <div class="col-12 col-md-2 mt-4 mt-md-0 text-md-right">
            <img src="../images/img-qrcode.jpg" class="img-fluid rounded border" alt="" srcset="" />
          </div>
        </div>
      </div>
    </footer>
    <div class="copy-right py-3 text-center" style="background-color: #212120;">
      <div class="container text-center text-white">
        Copyright © 2007-2020 Jiuyu Technology Rights Reserved. POWERED BY Jiuyu
        Technology
      </div>
    </div>
    <!-- jQuery first, then Bootstrap.bundle JS -->
    <script src="../../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="../js/bundle.min.js" charset="utf-8"></script>
    <script src="../js/global.js" charset="utf-8"></script>
</body>

</html>
