<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="renderer" content="webkit" />
  <title>Products</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/code-fx/Pure-CSS3-Animated-Border@V1.0/css/animated-border/animated-border.min.css" />
  <link rel="stylesheet" href="../css//bundle.min.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1943168_j5v89h6pcoa.css" />
</head>

<body>
  <!--[if lte IE 9]>
      <div class="alert alert-danger disable-del text-center" role="alert">
        <h4>
          系统检测到您使用的浏览器版本过低，为达到更好的体验效果请升级您的浏览器，我们为您推荐：
        </h4>
        <p>
          <a
            href="https://www.google.com.hk/chrome/"
            target="_blank"
            class="alert-link mx-3"
            >Chrome浏览器</a
          >
          <a
            href="http://www.firefox.com.cn/download/"
            target="_blank"
            class="alert-link mx-3"
            >Firefox浏览器</a
          >
          <a href="http://se.360.cn/" target="_blank" class="alert-link mx-3"
            >360浏览器</a
          >
        </p>
      </div>
    <![endif]-->
  <header class="header">
    <div class="container position-relative">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../images/logo.png" class="img-fluid d-block logo" alt="" srcset="" />
        </a>
        <button class="navbar-toggler border-0" style="margin-right:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse p-3 p-md-0" id="navbarSupportedContent">
          <button class="navbar-toggler border-0" style="margin-left:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="iconfont icon-close icon-3x"></i>
          </button>
          <ul class="navbar-nav ml-auto mr-md-4">
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread " href="#">HOME</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ui-box bottom-inOutSpread " href="/about.html">ABOUT US</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link ui-box bottom-inOutSpread bottom-stay" href="#" tabindex="-1">PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">NEWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">FEEDBACK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">CONTACT US</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 border rounded-pill">
            <div class="input-group">
              <input class="form-control border-0 rounded-pill" type="search" placeholder="Keywords" aria-label="Search" />
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="iconfont icon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>
  <div class="content">
    <div class="banner-container mb-5 small d-md-none" style="background-image: url('../images/img-banner-product.jpg');"></div>
    <div class="banner-container mb-5 small d-none d-md-block" style="background-image: url('../images/img-banner-product.jpg');"></div>
    <!-- 商品列表 -->
    <div class="container mb-5">
      <div class="row">
        <div class="col-auto d-none d-md-block mr-5">
          <div style="width:165px;">
            <h4 class="text-dark font-weight-normal mb-4">Categories</h4>
            <ul class="list-unstyled level-one">
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Dining & Kitchen</a>
                  <i class="iconfont icon-toggle icon-plus cursor-pointer font-weight-bold" data-toggle="collapse" href="#cate-01" role="button" aria-expanded="false" aria-controls="cate-01"></i>
                </div>
                <ul class="list-unstyled level-two collapse" id="cate-01">
                  <li><a href="#">Filter Results</a></li>
                  <li><a href="#">Dining Chair</a></li>
                  <li><a href="#">Dining table</a></li>
                </ul>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Living Room</a>
                  <i class="iconfont icon-toggle icon-plus cursor-pointer font-weight-bold" data-toggle="collapse" href="#cate-02" role="button" aria-expanded="false" aria-controls="cate-02"></i>
                </div>
                <ul class="list-unstyled level-two collapse" id="cate-02">
                  <li><a href="#">Filter Results</a></li>
                  <li><a href="#">Dining Chair</a></li>
                  <li><a href="#">Dining table</a></li>
                </ul>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Outdoor</a>
                  <i class="iconfont icon-toggle icon-plus cursor-pointer font-weight-bold" data-toggle="collapse" href="#cate-03" role="button" aria-expanded="false" aria-controls="cate-03"></i>
                </div>
                <ul class="list-unstyled level-two collapse" id="cate-03">
                  <li><a href="#">Filter Results</a></li>
                  <li><a href="#">Dining Chair</a></li>
                  <li><a href="#">Dining table</a></li>
                </ul>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Bedroom</a>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Crafts</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="mb-4 pb-4">
            <h4 class="text-primary text-uppercase font-weight-bold line-bottom">
              products
            </h4>
          </div>
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-1.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-2.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-3.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-4.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-5.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-6.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-7.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="img-container rounded-lg">
                <a href="#" class="box" style="background-image: url('../images/img-pro-list-8.jpg');"></a>
              </div>
              <div class="text-truncate mt-3 mb-5 text-center">
                <a href="#">Regatta Grey Wash Dining Chair</a>
              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center align-items-center flex-wrap mx-4 mb-5">
              <li class="page-item my-2 mx-1 disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <i class="iconfont icon-arrow-left"></i>
                </a>
              </li>
              <li class="page-item my-2 mx-1 active"><a class="page-link" href="#">1</a></li>
              <li class="page-item my-2 mx-1"><a class="page-link" href="#">2</a></li>
              <li class="page-item my-2 mx-1"><a class="page-link" href="#">3</a></li>
              <li class="page-item my-2 mx-1"><a class="page-link">...</a></li>
              <li class="page-item my-2 mx-1"><a class="page-link" href="#">10</a></li>
              <li class="page-item my-2 mx-1">
                <a class="page-link" href="#" aria-label="Next">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- end content -->
    <footer class="bg-light py-4">
      <div class="container py-3">
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="../images/logo.png" class="mb-4 logo" />
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">PRODUCTS</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Dining & Kitchen</a></li>
              <li><a href="#">Living Room</a></li>
              <li><a href="#">Outdoor</a></li>
              <li><a href="#">Bedroom</a></li>
              <li><a href="#">Crafts</a></li>
            </ul>
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">About Us</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Company profile</a></li>
              <li><a href="#">Corporate Style</a></li>
              <li><a href="#">Enterprise honor</a></li>
              <li><a href="#">Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 flex-shrink-1">
            <h6 class="text-uppercase text-dark mb-3 d-none d-md-block">
              CONTACT US
            </h6>
            <ul class="list-unstyled mb-0">
              <li>Tel:0579-85871717</li>
              <li>E-mail:hahavipfish@hotmail.com</li>
              <li>Add:E-commerce service area, 5 / F, zone 5,</li>
              <li>Yiwu International Trade City, Zhejiang Province 71029</li>
            </ul>
          </div>
          <div class="col-12 col-md-2 mt-4 mt-md-0 text-md-right">
            <img src="../images/img-qrcode.jpg" class="img-fluid rounded border" alt="" srcset="" />
          </div>
        </div>
      </div>
    </footer>
    <div class="copy-right py-3 text-center" style="background-color: #212120;">
      <div class="container text-center text-white">
        Copyright © 2007-2020 Jiuyu Technology Rights Reserved. POWERED BY Jiuyu
        Technology
      </div>
    </div>
    <!-- jQuery first, then Bootstrap.bundle JS -->
    <script src="../../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="../js/bundle.min.js" charset="utf-8"></script>
    <script src="../js/global.js" charset="utf-8"></script>
</body>

</html>
