<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="renderer" content="webkit" />
  <title>Product detail</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/code-fx/Pure-CSS3-Animated-Border@V1.0/css/animated-border/animated-border.min.css" />
  <link rel="stylesheet" href="../css//bundle.min.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1943168_vilc140qjx.css" />
</head>

<body>
  <!--[if lte IE 9]>
      <div class="alert alert-danger disable-del text-center" role="alert">
        <h4>
          系统检测到您使用的浏览器版本过低，为达到更好的体验效果请升级您的浏览器，我们为您推荐：
        </h4>
        <p>
          <a
            href="https://www.google.com.hk/chrome/"
            target="_blank"
            class="alert-link mx-3"
            >Chrome浏览器</a
          >
          <a
            href="http://www.firefox.com.cn/download/"
            target="_blank"
            class="alert-link mx-3"
            >Firefox浏览器</a
          >
          <a href="http://se.360.cn/" target="_blank" class="alert-link mx-3"
            >360浏览器</a
          >
        </p>
      </div>
    <![endif]-->
  <header class="header">
    <div class="container position-relative">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../images/logo.png" class="img-fluid d-block logo" alt="" srcset="" />
        </a>
        <button class="navbar-toggler border-0" style="margin-right:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse p-3 p-md-0" id="navbarSupportedContent">
          <button class="navbar-toggler border-0" style="margin-left:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="iconfont icon-close icon-3x"></i>
          </button>
          <ul class="navbar-nav ml-auto mr-md-4">
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread " href="#">HOME</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ui-box bottom-inOutSpread " href="/about.html">ABOUT US</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link ui-box bottom-inOutSpread bottom-stay" href="#" tabindex="-1">PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">NEWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">FEEDBACK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">CONTACT US</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 border rounded-pill">
            <div class="input-group">
              <input class="form-control border-0 rounded-pill" type="search" placeholder="Keywords" aria-label="Search" />
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="iconfont icon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>
  <div class="content">
    <div class="banner-container mb-5 small d-none d-md-block" style="background-image: url('../images/img-banner-product.jpg');"></div>
    <!-- 商品详情 -->
    <div class="container mb-5">
      <div class="row">
        <div class="col-auto d-none d-md-block mr-5">
          <div style="width:165px;">
            <h4 class="text-dark font-weight-normal mb-4">Categories</h4>
            <ul class="list-unstyled level-one">
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Dining & Kitchen</a>
                  <i class="iconfont icon-toggle icon-plus cursor-pointer font-weight-bold" data-toggle="collapse" href="#cate-01" role="button" aria-expanded="false" aria-controls="cate-01"></i>
                </div>
                <ul class="list-unstyled level-two collapse" id="cate-01">
                  <li><a href="#">Filter Results</a></li>
                  <li><a href="#">Dining Chair</a></li>
                  <li><a href="#">Dining table</a></li>
                </ul>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Living Room</a>
                  <i class="iconfont icon-toggle icon-plus cursor-pointer font-weight-bold" data-toggle="collapse" href="#cate-02" role="button" aria-expanded="false" aria-controls="cate-02"></i>
                </div>
                <ul class="list-unstyled level-two collapse" id="cate-02">
                  <li><a href="#">Filter Results</a></li>
                  <li><a href="#">Dining Chair</a></li>
                  <li><a href="#">Dining table</a></li>
                </ul>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Outdoor</a>
                  <i class="iconfont icon-toggle icon-plus cursor-pointer font-weight-bold" data-toggle="collapse" href="#cate-03" role="button" aria-expanded="false" aria-controls="cate-03"></i>
                </div>
                <ul class="list-unstyled level-two collapse" id="cate-03">
                  <li><a href="#">Filter Results</a></li>
                  <li><a href="#">Dining Chair</a></li>
                  <li><a href="#">Dining table</a></li>
                </ul>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Bedroom</a>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center justify-content-between h6 pb-2">
                  <a href="#" class="text-dark">Crafts</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12 col-md-auto mb-4 mb-md-0">
              <div id="img-detail-large" class="img-detal-large mb-3">
                <div class="img-container">
                  <div class="box" style="background-image: url('../images/img-detail-large.jpg');"></div>
                </div>
              </div>
              <div class="row">
                <div class="col img-detail-small" style="width:20%" data-src="../images/img-pro-list-1.jpg">
                  <div class="img-container border-primary">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-1.jpg');"></div>
                  </div>
                </div>
                <div class="col img-detail-small" style="width:20%" data-src="../images/img-pro-list-2.jpg">
                  <div class="img-container">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-2.jpg');"></div>
                  </div>
                </div>
                <div class="col img-detail-small" style="width:20%" data-src="../images/img-pro-list-3.jpg">
                  <div class="img-container">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-3.jpg');"></div>
                  </div>
                </div>
                <div class="col img-detail-small" style="width:20%" data-src="../images/img-pro-list-4.jpg">
                  <div class="img-container">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-4.jpg');"></div>
                  </div>
                </div>
                <div class="col img-detail-small" style="width:20%" data-src="../images/img-pro-list-5.jpg">
                  <div class="img-container">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-5.jpg');"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <h3 class="text-dark mb-4">Outdoor Storage</h3>
              <div class="h6 font-weight-normal">
                <div class="row mb-3">
                  <div class="col-auto">
                    <div style="width:120px" class="mr-4 text-truncate">Bowl Depth</div>
                  </div>
                  <div class="col">9 in.</div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <div style="width:120px" class="mr-4 text-truncate">Bowl Diameter</div>
                  </div>
                  <div class="col">27.5 in.</div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <div style="width:120px" class="mr-4 text-truncate">Brand</div>
                  </div>
                  <div class="col">Red Ember</div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <div style="width:120px" class="mr-4 text-truncate">Color</div>
                  </div>
                  <div class="col">Copper</div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <div style="width:120px" class="mr-4 text-truncate">Commercial Use</div>
                  </div>
                  <div class="col">No36695</div>
                </div>
                <div class="row mb-3">
                  <div class="col-auto">
                    <div style="width:120px" class="mr-4 text-truncate">Dimensions</div>
                  </div>
                  <div class="col">29.75 diam. x 24H in.</div>
                </div>
              </div>
              <a href="#" class="btn btn-primary px-4 my-4 rounded-pill">INQUIRY</a>
            </div>
          </div>
          <!-- 商品详情富文本 -->
          <div class="line-middle mt-5 mb-4">
            <div class="d-inline-flex bg-white pr-4">
              <i class="iconfont icon-circle mr-2"></i>
              <h5 class="text-dark">Description Care</h5>
            </div>
          </div>
          <div class="rich-text-wrap">
            <h5>Overview</h5>
            <br>
            <p>Classic meets modern industrial in the James canopy bed, designed for us exclusively by Charlie Zagaroli. Stunning in the master bedroom, the queen bed's simple geometry structures an open canopy and streamlined frame of stainless steel. American black walnut veneer warms up the base and headboard with natural wood grain and rich color. The James Walnut with Stainless Steel Frame Queen Canopy Bed is a Crate and Barrel exclusive.</p>
            <ul>
              <li>Designed by Charlie Zagaroli</li>
              <li>FSC-certified solid mahogany and American black walnut veneer</li>
              <li>Stainless steel frame</li>
            </ul>
            <br>
            <h5>Non-Furniture Items</h5>
            <p>We will accept returns and exchanges of non-furniture items if they are returned within 90 days of customer receipt, a valid proof of purchase is provided, and items are returned in good condition (unused and unwashed).</p>
            <img src="../images/img-detail-large.jpg" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
    <!-- end content -->
    <footer class="bg-light py-4">
      <div class="container py-3">
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="../images/logo.png" class="mb-4 logo" />
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">PRODUCTS</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Dining & Kitchen</a></li>
              <li><a href="#">Living Room</a></li>
              <li><a href="#">Outdoor</a></li>
              <li><a href="#">Bedroom</a></li>
              <li><a href="#">Crafts</a></li>
            </ul>
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">About Us</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Company profile</a></li>
              <li><a href="#">Corporate Style</a></li>
              <li><a href="#">Enterprise honor</a></li>
              <li><a href="#">Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 flex-shrink-1">
            <h6 class="text-uppercase text-dark mb-3 d-none d-md-block">
              CONTACT US
            </h6>
            <ul class="list-unstyled mb-0">
              <li>Tel:0579-85871717</li>
              <li>E-mail:hahavipfish@hotmail.com</li>
              <li>Add:E-commerce service area, 5 / F, zone 5,</li>
              <li>Yiwu International Trade City, Zhejiang Province 71029</li>
            </ul>
          </div>
          <div class="col-12 col-md-2 mt-4 mt-md-0 text-md-right">
            <img src="../images/img-qrcode.jpg" class="img-fluid rounded border" alt="" srcset="" />
          </div>
        </div>
      </div>
    </footer>
    <div class="copy-right py-3 text-center" style="background-color: #212120;">
      <div class="container text-center text-white">
        Copyright © 2007-2020 Jiuyu Technology Rights Reserved. POWERED BY Jiuyu
        Technology
      </div>
    </div>
    <!-- jQuery first, then Bootstrap.bundle JS -->
    <script src="../../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="../js/bundle.min.js" charset="utf-8"></script>
    <script src="../js/global.js" charset="utf-8"></script>
</body>

</html>
