<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="renderer" content="webkit" />
  <title>Product detail</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/code-fx/Pure-CSS3-Animated-Border@V1.0/css/animated-border/animated-border.min.css" />
  <link rel="stylesheet" href="../css//bundle.min.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1943168_u81c16lvqtp.css" />
</head>

<body>
  <!--[if lte IE 9]>
      <div class="alert alert-danger disable-del text-center" role="alert">
        <h4>
          系统检测到您使用的浏览器版本过低，为达到更好的体验效果请升级您的浏览器，我们为您推荐：
        </h4>
        <p>
          <a
            href="https://www.google.com.hk/chrome/"
            target="_blank"
            class="alert-link mx-3"
            >Chrome浏览器</a
          >
          <a
            href="http://www.firefox.com.cn/download/"
            target="_blank"
            class="alert-link mx-3"
            >Firefox浏览器</a
          >
          <a href="http://se.360.cn/" target="_blank" class="alert-link mx-3"
            >360浏览器</a
          >
        </p>
      </div>
    <![endif]-->
  <header class="header">
    <div class="container position-relative">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="../images/logo.png" class="img-fluid d-block logo" alt="" srcset="" />
        </a>
        <button class="navbar-toggler border-0" style="margin-right:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse p-3 p-md-0" id="navbarSupportedContent">
          <button class="navbar-toggler border-0" style="margin-left:-15px" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="iconfont icon-close icon-3x"></i>
          </button>
          <ul class="navbar-nav ml-auto mr-md-4">
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread " href="#">HOME</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link ui-box bottom-inOutSpread " href="/about.html">ABOUT US</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link ui-box bottom-inOutSpread bottom-stay" href="#" tabindex="-1">PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">NEWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">FEEDBACK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ui-box bottom-inOutSpread" href="#" tabindex="-1">CONTACT US</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 border rounded-pill">
            <div class="input-group">
              <input class="form-control border-0 rounded-pill" type="search" placeholder="Keywords" aria-label="Search" />
              <div class="input-group-append">
                <button class="btn" type="submit">
                  <i class="iconfont icon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>
  <div class="content border-top">
    <div class="container mb-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="text-muted">Home</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-muted">Products</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-muted">Wheels & Tires</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lug Nuts & Locks</li>
        </ol>
      </nav>
      <!-- 商品详情 -->
      <div class="row">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <div class="row">
            <div class="col-12 col-md-auto order-md-1">
              <div id="img-detail-large" class="img-detal-large mb-3">
                <div class="img-container">
                  <div class="box" style="background-image: url('../images/img-detail-large.jpg');"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-2 order-md-0">
              <div class="row flex-md-column">
                <div class="col mb-3 img-detail-small" data-src="../images/img-pro-list-1.jpg">
                  <div class="img-container border border-primary">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-1.jpg');"></div>
                  </div>
                </div>
                <div class="col mb-3 img-detail-small" data-src="../images/img-pro-list-2.jpg">
                  <div class="img-container border">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-2.jpg');"></div>
                  </div>
                </div>
                <div class="col mb-3 img-detail-small" data-src="../images/img-pro-list-3.jpg">
                  <div class="img-container border">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-3.jpg');"></div>
                  </div>
                </div>
                <div class="col mb-3 img-detail-small" data-src="../images/img-pro-list-4.jpg">
                  <div class="img-container border">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-4.jpg');"></div>
                  </div>
                </div>
                <div class="col mb-3 img-detail-small" data-src="../images/img-pro-list-5.jpg">
                  <div class="img-container border">
                    <div class="box cursor-pointer" style="background-image: url('../images/img-pro-list-5.jpg');"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h3 class="text-dark">Power Stop® - 1-Click Z23 Evolution Sport Drilled and Slotted Brake Kit with Calipers</h3>
          <div class="text-dark mb-4">Item No.: 11220</div>
          <div class="text-muted line-height-initial">1-Click Z23 Evolution Sport Drilled and Slotted Brake Kit with Calipers by Power Stop®. Get superior benefits of ceramic pads and cross-drilled rotors in the Power Stop 1-Click Brake kit. These components are used in street performance and offer better st</div>
          <a href="#" class="btn btn-primary px-4 my-4 rounded-pill"><span class="px-2">INQUIRY</span></a>
        </div>
      </div>
      <!-- 商品详情富文本 -->
      <div class="mt-2 mb-4 line-bottom border-bottom pb-2">
        <h4 class="text-dark">Description</h4>
      </div>
      <div class="rich-text-wrap mb-5 pb-3">
        <p>1-Click Z23 Evolution Sport Drilled and Slotted Brake Kit with Calipers by Power Stop®. Get superior benefits of ceramic pads and cross-drilled rotors in the Power Stop 1-Click Brake kit. These components are used in street performance and offer better stopping power, longer life, reduced brake fade, and lower dust buildup compared to OE parts. Each component is manufactured to tight tolerances so fit and function is never compromised on your vehicle. CA Prop 65 WARNING - This product can expose you to Antimony oxide (Antimony trioxide), Carbon (Black) and Nickel (Metallic) which are known to the State of California to cause cancer.</p>
        <br>
        <p>Notes: California Proposition 65 Warning.</p>
        <br>
        <h4 class="text-dark">Features:</h4>
        <p>
          Precision machined using a Tru-Cast™ technology <br>
          Rotor run out is within 0.0015 and DTV tolerance specification is within 0.005<br>
          All Evolution rotors are mill balanced<br>
          Rounded slots keep a clear contact patch between the pad and the rotor by sweeping away water, gas and dust<br>
          Beveled and precision drill holes help keep rotors temperatures down during extreme braking performance<br>
          All drilled and slotted rotors (except for hub and rotor assemblies) are silver zinc plated to helps shield and resist rust during normal operation<br>
          Pads, rotors and clips are designed in the precise size and shape of factory OEM parts for proper fit and operation<br>
          Carbon Fiber infused Evolution ceramic formula for superior braking power<br>
          The pad surfaces are thermal scorched for a fast break-in<br>
          Chamfered and slotted like the OE pad to ensure noise-free braking<br>
          Powder coated backing plate extends life by resisting rust and corrosion<br>
          Premium rubberized shims provide virtually noise-free-braking<br>
          Premium stainless steel hardware kit included for easy installation<br>
          Ceramic based lubricant specially formulated for Z23 Evolution Sport pads<br>
          Ceramic pad compounds wear slower and last longer than OEM equipment<br>
          Reduced heat buildup eliminates brake fading that occurs when brake fluid reaches boiling temperature<br>
          Includes rotors that are cross-drilled and slotted for more effective cooling under heavy use<br>
          Advanced brake pad compounds produce less dust than OEM factory brake pads<br>
          Brake pads and rotors offer eliminate squealing under the most extreme cold or hot temperatures<br>
          3-year/36,000 mile manufacturer limited warranty on the rotors and pads purchased and installed together
        </p>
        <br>
        <h4 class="text-dark">Benefits:</h4>
        <p>
          <br>Slots help to increase pad bite and improve air circulation
          <br>Drilled Holes and Slots create an escape route for debris, dust, gases, and water
          <br>Slots clean and de-glaze pad surface for optimum pad coefficient of friction
          <br>Drilled rotors improve the appearance of your wheels and provide reduced rotor weight
          <br>Factory original brake pads are made of metallic compounds featuring a large percentage of steel wool. As they grip steel rotors to create the friction that allows your vehicle to
          <br>stop, abrasive wear is significant. Rotors wear down faster and the metal scraping from steel fibers can cause loud squealing that varies with <br>temperature variations and
          <br>weather conditions. When driven hard, metallic brake pads can generate excess heat buildup to cause the formation of grip-reducing hot spots on brake <br>rotors. Many
          <br>automakers that develop high performance models capable of high speeds will attempt to offset these disadvantages by reducing the metal content in brake pads, creating a softer material that grips better at fast speeds with less noise. However, these soft brake pads wear out faster and produce large amounts of visible <br>black dust that soils
          <br>aluminum wheels and ultimately becomes corrosive to finishes applied on them.
        </p>
      </div>
    </div>
    <!-- end content -->
    <footer class="bg-light py-4">
      <div class="container py-3">
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="../images/logo.png" class="mb-4 logo" />
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">PRODUCTS</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Dining & Kitchen</a></li>
              <li><a href="#">Living Room</a></li>
              <li><a href="#">Outdoor</a></li>
              <li><a href="#">Bedroom</a></li>
              <li><a href="#">Crafts</a></li>
            </ul>
          </div>
          <div class="d-none d-md-block col-md-2">
            <h6 class="text-uppercase text-dark mb-3">About Us</h6>
            <ul class="list-unstyled mb-0">
              <li><a href="#">Company profile</a></li>
              <li><a href="#">Corporate Style</a></li>
              <li><a href="#">Enterprise honor</a></li>
              <li><a href="#">Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 flex-shrink-1">
            <h6 class="text-uppercase text-dark mb-3 d-none d-md-block">
              CONTACT US
            </h6>
            <ul class="list-unstyled mb-0">
              <li>Tel:0579-85871717</li>
              <li>E-mail:hahavipfish@hotmail.com</li>
              <li>Add:E-commerce service area, 5 / F, zone 5,</li>
              <li>Yiwu International Trade City, Zhejiang Province 71029</li>
            </ul>
          </div>
          <div class="col-12 col-md-2 mt-4 mt-md-0 text-md-right">
            <img src="../images/img-qrcode.jpg" class="img-fluid rounded border" alt="" srcset="" />
          </div>
        </div>
      </div>
    </footer>
    <div class="copy-right py-3 text-center" style="background-color: #212120;">
      <div class="container text-center text-white">
        Copyright © 2007-2020 Jiuyu Technology Rights Reserved. POWERED BY Jiuyu
        Technology
      </div>
    </div>
    <!-- jQuery first, then Bootstrap.bundle JS -->
    <script src="../../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="../js/bundle.min.js" charset="utf-8"></script>
    <script src="../js/global.js" charset="utf-8"></script>
</body>

</html>
